---
layout: nil
---
@charset "UTF-8";
/*!
 * @name {{ site.title }}
 * @package screen.css
 * @version {{ 'now' | date: "%Y-%m-%d %H:%M" }}
 * @author {{ site.author }} {@link {{ site.author_twitter }} | {{ site.author_url }}}
 */

/** HTML5 ✰ Boilerplate Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin: 0; padding: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
/*input:valid, textarea:valid { }*/
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
/* **/

/** Front-end Skeleton Helpers
------------------------------------------------------------*/
.s-i-i { background-color: transparent; background-position: 0 0; background-repeat: no-repeat; display: block; position: absolute; }
.s-h { display: block; height: 0; float: left; overflow: hidden; width: 0; }
.s-h-o { left: -9999em; position: absolute; top: -9999em; }
.s-h-n { display: none; visibility: hidden; }
.s-i-i { background-color: transparent; background-position: 0 0; background-repeat: no-repeat; display: block; position: absolute; }
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/* **/

/** Base and Typography
------------------------------------------------------------*/
body { background-color: #333333; color: #444444; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
button, input, textarea, select { color: #333333; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #66D9EF; text-decoration: none; }
a:hover { color: #A6E22E; }
h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
p { margin-bottom: 25px; }
/* **/

/** Webfonts
----------------------------------------------- */

/* **/

/** Layout
----------------------------------------------- */
.container { clear: both; margin: 0 auto; width: 960px; }
.container:before, .container:after { content: "."; display: block; height: 0; visibility: hidden; }
.container:after { clear: both; }
#Header { width: 940px; margin: 0 auto; }
#Branding { float: left; margin: 0 auto; }
#Branding a {font-size: 250%; color: #E6DB74; text-decoration: none;}

#NavPri { float: right; font-size: 1.4em; margin: 24px 50px 0 0; }
#NavPri ul { list-style: none; }
#NavPri ul li { float: left; }
#NavPri ul li a:link,
#NavPri ul li a:visited { border-top: 2px; color: #DDD; display: block; padding: 5px 10px; text-decoration: none; }
#NavPri ul li a:hover,
#NavPri ul li a:active {   }
#NavPri ul li.first { }
#NavPri ul li.first a { }


#main-container { width:940px;  margin: 0 auto;  border-style: dashed none dashed none; border-color: #307437; clear: both; }

#content { float: left; width: 640px;   margin: 0; padding: 0; }

.related-posts { background-color:#444; margin-right:1px;}
.related-posts ol { list-style-type: decimal; margin-left:24px; }
.related-posts ol li a {padding: 5px 0; display:block; }

.nextprev {font-size:16px; font-style:italic;  margin: 0 30px 30px;}
.nextprev a {display:block; width:50%; padding:10px 0;}
.nextprev a.next {text-align:right; float:right;}
.nextprev a.prev {float:left;}
.nextprev a span {color:#808080; font-family:Helvetica,Arial,sans-serif; font-size:12px;}
.nextprev a:hover span {color:#2B2B2B;}
.nextprev a:hover {background:#444;}
#comments {}
#comments h3 {font-size:32px; font-weight:400; letter-spacing:-.025em; padding:0 0 20px;}
#comments #num-responses { float: right; }
#comments #num-responses img { position:relative; top:10px; margin-right:6px;}
#commentslist {border-top:1px dotted #bbb; padding-top:15px;}
#commentslist li {display:inline-block;}
#commentslist li .avatar { background:#fff; width:42px; height:42px; padding:3px; margin:0 20px 0 0; border:1px solid #ddd; float:left;}
#commentslist li .comment-wrap {margin-bottom:15px; border-bottom:1px dotted #bbb;}
#commentslist li .comment-author {padding-top:3px;}
#commentslist li .comment-author cite {font-weight:bold;}
#commentslist li .comment-meta {margin-bottom:20px;}
#commentslist li .comment-meta abbr.comment-time {color:#909090;font-size:12px; font-family:Helvetica,Arial,sans-serif;}
#commentslist li p {font-size:14px; padding-bottom:20px; line-height:1.6;}
#commentslist li blockquote {font-style:italic; padding-left:20px;}
.comment-reply-link:link,.comment-reply-link:visited {background:url(/images/icons/ico_reply.png) left 3px no-repeat; font-size:14px; padding-left:22px; margin-bottom:15px; display:inline-block;}
/* Threaded Comment Styles */
#commentslist ul.children {margin-left:20px;}
#commentslist ul.children ul.children {margin-left:0;}
#commentslist li ul li .comment-wrap {background-color:#f9f9f9; border:1px dotted #bbb; padding:20px 20px 0 20px;}
#commentslist li ul li .avatar img {width:36px; height:36px;}
#respond {}
#comment-form label span {color:#909090; font-family:Helvetica,Arial,sans-serif; font-size:12px;}
#comment-form textarea {height:150px;}
#comment-form input#submit-comment {margin-top:0;}

#sidebar #popular-tags ul li {border:0; padding:0; display:inline;}
#sidebar #popular-tags ul li a {background:#e2e5eb; color:#999da3; font-size:12px; font-style:italic; line-height:1; padding:6px 8px; display:inline-block; margin: 0 8px 8px 0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -khtml-border-radius:3px; }  
#sidebar #popular-tags ul li a:hover {background:#A6E22E; color:#fff;}
#sidebar #popular-tags ul li a:active,#sidebar #popular-tags ul li a:focus {background:#282828; color:#fff;}
#sidebar {font-size:13px; width:290px; float:right; border-left-style: dashed; border-color: #307437;}
#sidebar p {font-size:12px; font-family:Helvetica,Arial,sans-serif; padding-bottom:18px;}
#sidebar ol {list-style-type:decimal; list-style-position:outside; padding-left:20px;}
#sidebar ul li, #sidebar ol li {padding:3px 0;}
#sidebar ul li:first-child, #sidebar ol li:first-child {padding-top:0; border-top:0;}
#sidebar .section {background:url(/assets/images/ui_inner_shadow.png) left top repeat-x; padding:30px; border-bottom:1px dashed #307437;}
#sidebar .section:last-of-type {border-bottom:0;}
#sidebar .section:first-of-type {background:0; border-top:0;}
#sidebar #ads {padding-bottom:20px; overflow:hidden;}
#sidebar #ads a img {padding-bottom:10px; float:left;}
#sidebar #ads .odd img {padding-right:10px;}
#twitter-feed .section-title {padding:0;}
#twitter-feed #twitter-id {padding-bottom:20px; display:inline-block;}
#twitter-feed ul {padding-bottom:5px;}
#twitter-feed ul li {padding:8px 0;}
#twitter-feed ul li img.alignleft {margin:0 15px 10px 0;}
#twitter-feed ul li p {padding:0;}
#twitter-feed ul li span {color:#91989f; font-size:11px;}
#sidebar .tabnav {padding-bottom:1px; display:inline-block;}
#sidebar .tabnav li {border-top:0; display:inline; line-height:1;}
#sidebar .tabnav li a {background:#EAECEF; color:#808080; font-size:11px; font-style:normal; font-family: Helvetica,Arial,sans-serif; text-transform:uppercase; padding:9px; border:1px solid #ccc; border-left:0; margin-bottom:-2px; display:block; float: left;}
#sidebar .tabnav li.ui-state-active a {background-color:#fff; color:#000; outline:none; border-bottom:1px solid #fff;}
#sidebar .tabnav li a:hover, #sidebar .tabnav li a:active {color:#000; text-decoration:none;}
#sidebar .tab-content { padding:30px; border-top:1px solid #ccc; border-bottom: 1px solid transparent; }
#sidebar .tab-content li {font-style:normal; padding:4px 0;}
#sidebar .tab-content li:first-child {padding-top:4px;}
.ui-tabs .ui-tabs-hide {display:none;}
#sidebar #blog-stats { padding: 30px 30px 30px 30px; border-bottom:0; overflow:hidden; position:relative;}
#sidebar #blog-stats a.stat:link,#sidebar #blog-stats a.stat:visited {color:#202020; font-size:12px; font-style:italic; line-height:1.3; display:block; float:left; margin-right:20px;}
#sidebar #blog-stats a span {font-family:Helvetica, Arial, sans-serif; font-size:20px; color:#aaa; }
#sidebar #blog-stats a:hover span {color:#202020;}
#sidebar #side-description{color:#A6E22E; font-size:12px; line-height:1.3;  margin-right:60px; }
#sidebar #update-icons {}
#sidebar #update-icons:hover {border-color:#aaa;}
#sidebar #update-icons li:first-child {border:0;}
#sidebar #update-icons li:last-child {padding:0;}
#sidebar #update-icons li { padding:0 3px 0 0; border:0; float:left; }
#sidebar #update-icons li a { display: block; width:16px; height:16px; text-indent:-9999px; overflow:hidden;}
#sidebar #update-icons li.rss a {background:url(/assets/images/icons/ico_rss_sm.png) no-repeat; }
#sidebar #update-icons li.twitter a {background:url(/assets/images/icons/ico_twitter_sm.png) no-repeat;}
#sidebar #update-icons li.fb a {background:url(/assets/images/icons/ico_fb_sm.png) no-repeat;}
#sidebar #update-icons li.email a {background:url(/assets/images/icons/ico_email_sm.png) no-repeat;}
#sidebar #popular-tags ul li {border:0; padding:0; display:inline;}
#sidebar #popular-tags ul li a {background:#e2e5eb; color:#999da3; font-size:12px; font-style:italic; line-height:1; padding:6px 8px; display:inline-block; margin: 0 8px 8px 0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -khtml-border-radius:3px; }  
#sidebar #popular-tags ul li a:hover {background:#DA1A0B; color:#fff;}
#sidebar #popular-tags ul li a:active,#sidebar #popular-tags ul li a:focus {background:#282828; color:#fff;}
#footer-wrapper {border-top:5px solid #ccc; background-color:#202020;font-family:Helvetica,Arial,sans-serif; position:relative; z-index:1000;}


#Footer { clear: both; text-align: center; }

.section-title {color: #F92672; font-size:17px; font-family:Georgia,"Times New Roman", serif; padding-bottom:24px;}
.post-title {font-weight:normal; font-family:Georgia,"Times New Roman",serif; font-size:30px; letter-spacing:-0.025em; padding:0;}
.item-list { font-size: 20px;}


.post { color: #A6E22E; border-bottom: 1px dashed #307437; }
.post h1, h2, h3, h4, h5, h6 { color: #A6E22E; font-size: 18px; }
.post-meta { margin-bottom: 10px;}
.highlight {     
  background-color: #232323;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
  /* curved border radius */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}     
.highlight pre {     
  margin: 0px;
  padding: 0px;
}


.hll { background-color: #e6e1dc }
.c { color: #bc9458; font-style: italic } /* Comment */
.err { color: #ffc66d } /* Error */
.k { color: #cc7833 } /* Keyword */
.n { color: #f0f0f0 } /* Name */
.o { color: #f0f0f0 } /* Operator */
.p { color: #f0f0f0 } /* Punctuation */
.cm { color: #bc9458; font-style: italic } /* Comment.Multiline */
.cp { color: #bc9458; font-style: italic } /* Comment.Preproc */
.c1 { color: #bc9458; font-style: italic } /* Comment.Single */
.cs { color: #bc9458; font-style: italic } /* Comment.Special */
.kc { color: #cc7833 } /* Keyword.Constant */
.kd { color: #cc7833 } /* Keyword.Declaration */
.kn { color: #cc7833 } /* Keyword.Namespace */
.kp { color: #cc7833 } /* Keyword.Pseudo */
.kr { color: #da4939 } /* Keyword.Reserved */
.kt { color: #5a647e } /* Keyword.Type */
.m { color: #a5c261 } /* Literal.Number */
.s { color: #a5c261 } /* Literal.String */
.na { color: #da4939 } /* Name.Attribute */
.nb { color: #6d9cbe } /* Name.Builtin */
.nc { color: #ffc66d } /* Name.Class */
.no { color: #6d9cbe } /* Name.Constant */
.nd { color: #da4939 } /* Name.Decorator */
.ni { color: #f0f0f0 } /* Name.Entity */
.ne { color: #f0f0f0 } /* Name.Exception */
.nf { color: #ffc66d } /* Name.Function */
.nl { color: #f0f0f0 } /* Name.Label */
.nn { color: #f0f0f0 } /* Name.Namespace */
.nx { color: #f0f0f0 } /* Name.Other */
.py { color: #f0f0f0 } /* Name.Property */
.nt { color: #e8bf6a } /* Name.Tag */
.nv { color: #f0f0f0 } /* Name.Variable */
.ow { color: #cc7833 } /* Operator.Word */
.w { color: #f0f0f0 } /* Text.Whitespace */
.mf { color: #a5c261 } /* Literal.Number.Float */
.mh { color: #a5c261 } /* Literal.Number.Hex */
.mi { color: #a5c261 } /* Literal.Number.Integer */
.mo { color: #a5c261 } /* Literal.Number.Oct */
.sb { color: #a5c261 } /* Literal.String.Backtick */
.sc { color: #a5c261 } /* Literal.String.Char */
.sd { color: #a5c261 } /* Literal.String.Doc */
.s2 { color: #a5c261 } /* Literal.String.Double */
.se { color: #da4939 } /* Literal.String.Escape */
.sh { color: #a5c261 } /* Literal.String.Heredoc */
.si { color: #a5c261 } /* Literal.String.Interpol */
.sx { color: #a5c261 } /* Literal.String.Other */
.sr { color: #a5c261 } /* Literal.String.Regex */
.s1 { color: #a5c261 } /* Literal.String.Single */
.ss { color: #a5c261 } /* Literal.String.Symbol */
.bp { color: #f0f0f0 } /* Name.Builtin.Pseudo */
.vc { color: #f0f0f0 } /* Name.Variable.Class */
.vg { color: #f0f0f0 } /* Name.Variable.Global */
.vi { color: #f0f0f0 } /* Name.Variable.Instance */
.il { color: #a5c261 } /* Literal.Number.Integer.Long */



/* **/

/** Component: xxxx
----------------------------------------------- */
/* **/

/** HTML5 ✰ Boilerplate Helpers
----------------------------------------------- */
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { display:block; zoom: 1; }

/* **/

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

