---
layout: default
body: blog archive
---
<div id="content">
        <div id="blog-posts">

                {% for post in site.categories[page.category] %}

                <div class="post{% if forloop.first %} first{% endif %}">
                        <div class="post-meta">
                                <span class="date"><img src="{{ site.assets_url }}images/icons/ico_calendar.png" alt="" />{{ post.date | date_to_string }} </span> 
                                <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1> 
                        </div>
                </div><!-- end: .post -->
                {% endfor %}
        </div>
</div>
<!-- begin: #sidebar -->
<div id="sidebar">
        {% include intro.markdown %}
        {% include sidebar_tabs.markdown %}
        {% include tags.markdown %}
</div><!-- end: #sidebar-->